<div id="latest-brands" class="section">
  <div class="section-header">
    <h1>ÚLTIMAS PARCERIAS</h1>
  </div>
  <div id="latest-brands-main" class="section-main">
    <div class="latest-brand-item">
      <img src="latest-brands/adidas.png" alt="" />
    </div>
    <div class="latest-brand-item">
      <img src="latest-brands/brand.png" alt="" />
    </div>
    <div class="latest-brand-item">
      <img src="latest-brands/dnj.png" alt="" />
    </div>
    <div class="latest-brand-item">
      <img src="latest-brands/geek.png" alt="" />
    </div>
    <div class="latest-brand-item">
      <img src="latest-brands/platinum.png" alt="" />
    </div>
    <div class="latest-brand-item">
      <img src="latest-brands/roland.png" alt="" />
    </div>
  </div>
</div>
