.main {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.092);

  #painel-with-ad {
    display: flex;
    flex-direction: column;

    .painel {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: xx-large;
      font-weight: 500;

      .set-left,
      .set-right {
        position: absolute;
        padding: 0.8rem;
        border-radius: 1rem;
        background-color: black;
        color: white;
        font-weight: 400;
        font-size: medium;
      }

      .set-left {
        left: 0.6rem;
      }

      .set-right {
        right: 0.6rem;
      }

      img {
        height: 400px;
        min-width: 100%;
        object-fit: cover;
        object-position: right;
      }
    }

    .ad {
      padding: 1rem;

      img {
        height: 200px;
        min-width: 100%;
        object-fit: cover;
      }
    }
  }

  #fields {
    .fields-container {
      display: flex;
      overflow-x: scroll;
      scrollbar-width: none;
      height: 100%;
      gap: 1rem;
      padding: 0 1rem;

      .field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 100%;
          margin: 0 auto;
          border: 3px solid black;
        }

        h3 {
          font-weight: 500;
          text-align: center;
          font-size: x-small;
        }
      }
    }
  }

  #recomendations {
    #recomendations-main {
      gap: 0.4rem;
    }
  }

  #cards {
    display: flex;
    flex-direction: column;

    .card-ad {
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      border: 0;

      img {
        opacity: 0.6;
        height: 200px;
        object-fit: cover;
        object-position: left;
      }

      .card-ad-main {
        position: absolute;
        border: 0;
        color: white;
        text-align: center;

        h1 {
          font-size: medium;
          font-weight: 600;
        }

        p {
          font-size: small;
          font-weight: 400;
          margin-top: 0.4rem;
        }

        button {
          margin-top: 0.6rem;
          background-color: black;
          color: white;
          border: 0;
          font-weight: 800;
          padding: 1rem 2rem;
          font-size: small;
        }
      }
    }

    div {
      border: 4px solid black;

      img {
        width: 100%;
        height: 200px;
      }
    }
  }

  #special-products {
    #first-recomendations-main,
    #last-recomendations-main {
      gap: 0.6rem;
    }
  }

  #our-blogs {
    #our-blogs-main {
      gap: 0.4rem;

      .our-blogs-item {
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        min-width: 260px;

        .our-blogs-img {
          display: flex;
          justify-content: center;
          width: 100%;

          img {
            width: 90%;
            height: 100px;
            object-fit: cover;
            border: 5px solid black;
          }
        }

        .date {
          text-align: center;
          font-size: x-small;
          font-weight: 400;
          margin-top: 0.6rem;
        }

        .separator {
          margin-top: 0.5rem;
          width: 30%;
          height: 4px;
          background-color: rgba(0, 0, 0, 0.092);
        }

        .title {
          margin-top: 0.4rem;
          text-align: center;
          font-size: medium;
          font-weight: 700;
        }

        .description {
          margin-top: 0.5rem;
          width: 80%;
          text-align: center;
          font-size: x-small;
          font-weight: 400;
        }

        .read-more {
          margin-top: 0.6rem;

          button {
            background-color: black;
            color: white;
            border: 0;
            font-weight: 800;
            padding: 0.5rem 1rem;
            font-size: medium;
          }
        }
      }
    }
  }

  #latest-brands {
    #latest-brands-main {
      gap: 0.4rem;

      .latest-brand-item {
        border: 1px solid black;
        border-radius: 0.5rem;

        img {
          padding: 0.6rem;
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem 0.5rem;
    background-color: white;
    border-radius: 1rem;

    .section-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-left: 6px solid black;
      padding: 0.5rem 0;
      align-items: center;

      h1 {
        margin-left: 0.4rem;
        display: flex;
        align-items: center;
        font-size: small;
        font-weight: 600;
        gap: 0.2rem;
      }
    }

    .section-main {
      width: 100%;
      margin-top: 0.6rem;
      display: flex;
      overflow: scroll;
      scrollbar-width: none;

      .item-pattern {
        display: flex;
        flex-direction: column;
        align-items: center;

        .show-item {
          background-color: rgba(0, 0, 0, 0.092);
          padding: 0.5rem;
          width: 60px;
          height: 60px;

          img {
            width: 60px;
            height: 60px;
          }
        }

        .item-name {
          font-weight: 500;
          text-align: center;
          margin: 0.5rem;
          font-size: x-small;
        }
        .stars {
          display: flex;
          flex-wrap: nowrap;
          width: min-content;
          margin: 0 auto;

          mat-icon {
            font-size: medium !important;
            width: min-content;
          }
        }

        .item-price {
          font-size: small;
          text-align: center;
          font-weight: 600;
        }
      }
    }
  }
}
