<div class="main">
  <div id="painel-with-ad">
    <div class="painel">
      <div class="set-left">
        {{ "<" }}
      </div>
      <div class="set-right">
        {{ ">" }}
      </div>
      <img src="painel.jpg" alt="" />
    </div>
    <div class="ad">
      <img src="ad.jpg" alt="" />
    </div>
  </div>
  <div id="fields">
    <div class="fields-container">
      <div class="field">
        <img src="tablet.jpg" alt="" />
        <h3>Tablets</h3>
      </div>
      <div class="field">
        <img src="celular.jpeg" alt="" />
        <h3>Celulares</h3>
      </div>
      <div class="field">
        <img src="smartwatch.jpg" alt="" />
        <h3>Watches</h3>
      </div>
      <div class="field">
        <img src="notebook.jpg" alt="" />
        <h3>Notebooks</h3>
      </div>
      <div class="field">
        <img src="vr.jpg" alt="" />
        <h3>VRs</h3>
      </div>
      <div class="field">
        <img src="console.jpg" alt="" />
        <h3>Consoles</h3>
      </div>
    </div>
  </div>
  <div id="recomendations" class="section">
    <div class="section-header">
      <h1>RECOMENDAÇÕES</h1>
    </div>
    <div id="recomendations-main" class="section-main">
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/3d.png" alt="" />
        </div>
        <h1 class="item-name">Impressora</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/carregador-sem-fio.png" alt="" />
        </div>
        <h1 class="item-name">Carregador</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/celular.png" alt="" />
        </div>
        <h1 class="item-name">Celular</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/controle.png" alt="" />
        </div>
        <h1 class="item-name">Controle</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/gabinete.png" alt="" />
        </div>
        <h1 class="item-name">Gabinete</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/interfone.png" alt="" />
        </div>
        <h1 class="item-name">Interfone</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/mouse.png" alt="" />
        </div>
        <h1 class="item-name">Mouse</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/placa-video.png" alt="" />
        </div>
        <h1 class="item-name">Placa de Vídeo</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/teclado.png" alt="" />
        </div>
        <h1 class="item-name">Teclados</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
    </div>
  </div>
  <div id="cards">
    <div class="card-ad">
      <img src="card-ad-1.jpg" alt="" />
      <div class="card-ad-main">
        <h1>Ache cupons</h1>
        <p>Até 10% OFF</p>
        <button>MOSTRAR CUPONS</button>
      </div>
    </div>
    <div class="card-ad">
      <img src="card-ad-2.jpg" alt="" />
      <div class="card-ad-main">
        <h1>Os celulares do momento</h1>
        <p>Com 20% de desconto</p>
        <button>EU QUERO</button>
      </div>
    </div>
  </div>
  <div id="special-products" class="section">
    <div class="section-header">
      <h1>PRODUTOS ESPECIAIS</h1>
    </div>
    <div id="first-recomendations-main" class="section-main">
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/3d.png" alt="" />
        </div>
        <h1 class="item-name">Impressora</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/carregador-sem-fio.png" alt="" />
        </div>
        <h1 class="item-name">Carregador</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/celular.png" alt="" />
        </div>
        <h1 class="item-name">Celular</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/controle.png" alt="" />
        </div>
        <h1 class="item-name">Controle</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/gabinete.png" alt="" />
        </div>
        <h1 class="item-name">Gabinete</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/interfone.png" alt="" />
        </div>
        <h1 class="item-name">Interfone</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/mouse.png" alt="" />
        </div>
        <h1 class="item-name">Mouse</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/placa-video.png" alt="" />
        </div>
        <h1 class="item-name">Placa de Vídeo</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/teclado.png" alt="" />
        </div>
        <h1 class="item-name">Teclados</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
    </div>
    <div id="last-recomendations-main" class="section-main">
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/3d.png" alt="" />
        </div>
        <h1 class="item-name">Impressora</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/carregador-sem-fio.png" alt="" />
        </div>
        <h1 class="item-name">Carregador</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/celular.png" alt="" />
        </div>
        <h1 class="item-name">Celular</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/controle.png" alt="" />
        </div>
        <h1 class="item-name">Controle</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/gabinete.png" alt="" />
        </div>
        <h1 class="item-name">Gabinete</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/interfone.png" alt="" />
        </div>
        <h1 class="item-name">Interfone</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/mouse.png" alt="" />
        </div>
        <h1 class="item-name">Mouse</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/placa-video.png" alt="" />
        </div>
        <h1 class="item-name">Placa de Vídeo</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
      <div class="item-pattern">
        <div class="show-item">
          <img src="recommendations/teclado.png" alt="" />
        </div>
        <h1 class="item-name">Teclados</h1>
        <div class="stars">
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star</mat-icon>
          <mat-icon class="material-icons-outlined">star_half</mat-icon>
        </div>
        <h3 class="item-price">R$ 90,00</h3>
      </div>
    </div>
  </div>
  <div id="our-blogs" class="section">
    <div class="section-header">
      <h1>NOSSOS BLOGS</h1>
    </div>
    <div id="our-blogs-main" class="section-main">
      <div class="our-blogs-item">
        <div class="our-blogs-img">
          <img src="our-blogs/hackaton.jpg" alt="" />
        </div>
        <h1 class="date">Dia 15, julho de 2024</h1>
        <div class="separator"></div>
        <div class="title">Developer Day</div>
        <div class="description">
          Fique por dentro de todas as notícias sobre o maior Hackaton do
          Brasil!
        </div>
        <div class="read-more">
          <button class="read-more-button">Leia mais</button>
        </div>
      </div>
      <div class="our-blogs-item">
        <div class="our-blogs-img">
          <img src="our-blogs/hackaton.jpg" alt="" />
        </div>
        <h1 class="date">Dia 15, julho de 2024</h1>
        <div class="separator"></div>
        <div class="title">Developer Day</div>
        <div class="description">
          Fique por dentro de todas as notícias sobre o maior Hackaton do
          Brasil!
        </div>
        <div class="read-more">
          <button class="read-more-button">Leia mais</button>
        </div>
      </div>
      <div class="our-blogs-item">
        <div class="our-blogs-img">
          <img src="our-blogs/hackaton.jpg" alt="" />
        </div>
        <h1 class="date">Dia 15, julho de 2024</h1>
        <div class="separator"></div>
        <div class="title">Developer Day</div>
        <div class="description">
          Fique por dentro de todas as notícias sobre o maior Hackaton do
          Brasil!
        </div>
        <div class="read-more">
          <button class="read-more-button">Leia mais</button>
        </div>
      </div>
    </div>
  </div>
  <div id="latest-brands" class="section">
    <div class="section-header">
      <h1>ÚLTIMAS PARCERIAS</h1>
    </div>
    <div id="latest-brands-main" class="section-main">
      <div class="latest-brand-item">
        <img src="latest-brands/adidas.png" alt="" />
      </div>
      <div class="latest-brand-item">
        <img src="latest-brands/brand.png" alt="" />
      </div>
      <div class="latest-brand-item">
        <img src="latest-brands/dnj.png" alt="" />
      </div>
      <div class="latest-brand-item">
        <img src="latest-brands/geek.png" alt="" />
      </div>
      <div class="latest-brand-item">
        <img src="latest-brands/platinum.png" alt="" />
      </div>
      <div class="latest-brand-item">
        <img src="latest-brands/roland.png" alt="" />
      </div>
    </div>
  </div>
</div>
